<div class="login_box">
<section class="global_login">
    <div class="choose-header">
        <button class="sconfirm">注册</button>
        <h3 class="stitle">请登录</h3>
        <button class="scancel">取消</button>
    </div>
    <div>
	     <ul class="userlogin">
			<li class="name">
				<input type="text" id="loginUser" name="hUserName" placeholder="用户名/手机号/邮箱" class="btn" value="xfund" />
			</li>
			<li class="psw">
				<input type="password" id="loginPsw" name="hloginPasswd" placeholder="请输入密码" class="btn" value="xfund">
			</li>
		</ul>
		<ul class="login-ul">
			<li><button  id="start_login" class="button-error pure-button button-xlarge">登 录</button></li>
		</ul>
	</div>
</section>
</div>